@import '@material/react-layout-grid/index.scss';

.drawer-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
}

.drawer-app-content {
  background-color: #eeeeee;
  flex: auto;
  overflow: auto;
}

.mdc-row-highlight {
  background-color: #ffffff;
}

.mdc-typography--subtitle1 {
  color: #33333e;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 30px 30px 0 30px;
}

.mdc-typography--subtitle2 {
  color: #77778e;
  font-family: 'Raleway', sans-serif;
  font-size: 0.8rem;
  font-weight: normal;
  margin: 0 30px 30px 30px;
}

.mdc-typography--headline6 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}
