
//
// Main theme colors.
//
// If you're a user customizing your color scheme in SASS, these are probably the only variables you need to change.
//

$mdc-theme-primary: #fff; // The theme primary color
$mdc-theme-secondary: #fff; // The theme secondary color
$mdc-theme-background: #fff; // The theme background color
$mdc-theme-surface: #fff; // The theme surface color

$mdc-theme-text-primary-on-light: #000; // Used for most text (on top of a light background)
$mdc-theme-text-primary-on-dark: #fff; // Used for most text (on top of a dark background)

$mdc-theme-text-secondary-on-light: #000; // Used for text which is lower in the visual hierarchy (on top of a light background)
$mdc-theme-text-secondary-on-dark: #fff; // Used for text which is lower in the visual hierarchy (on top of a dark background)

$mdc-theme-text-hint-on-light: #000; // Used for text hints, such as those in text fields and labels (on top of a light background)
$mdc-theme-text-hint-on-dark: #fff; // Used for text hints, such as those in text fields and labels (on top of a dark background)

$mdc-theme-text-disabled-on-light: #000; // Used for text in disabled components and content (on top of a light background)
$mdc-theme-text-disabled-on-dark: #fff; // Used for text in disabled components and content (on top of a dark background)

$mdc-theme-text-icon-on-light: #000; // Used for icons (on top of a light background)
$mdc-theme-text-icon-on-dark: #fff; // Used for icons (on top of a dark background)

$mdc-theme-on-primary: #442b2d; // A text/iconography color that is usable on top of primary color
$mdc-theme-on-secondary: #442b2d; // A text/iconography color that is usable on top of secondary color
$mdc-theme-on-surface: #000; // A text/iconography color that is usable on top of surface color
